.logo {
  max-width: 30rem;
  margin-top: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header input {
  color: #fffad2;
  min-width: 15rem;
  padding: 0.4rem;
  border-radius: 10px;
  border: none;
}
.header input:focus {
  outline: 1px solid #ffe81f;
}
.header form {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header label {
  color: #fffad2;
  text-align: left;
}

.header hr {
  min-width: 30rem;
  background-color: #ffe81f;
  border: none;
  height: 1px;
}
.header button {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.header button:hover {
  background-color: #ffe81f;
  color: #242424;
}
@media (max-width: 450px) {
  .logo {
    max-width: 20rem;
  }
  .header form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .header input {
    min-width: 18rem;
    padding: 0.6rem;
  }
  .header button {
    padding: 0.6rem 1.2rem;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .logo {
    max-width: 20rem;
  }
  .header form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .header input {
    min-width: 18rem;
    padding: 0.6rem;
  }
  .header button {
    padding: 0.6rem 1.2rem;
    width: 100%;
  }
  .header hr {
    min-width: 18rem;
  }
}
